body {
    background-color: lavender;
}

.container {
    text-align: center;
    margin-top: 100px;
}

button {
    width: 70px;
    height: 35px;
    margin: 10px;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

button:active {
    opacity: 0.6;
}

.start {
    background-color: greenyellow;
}

.stop {
    background-color: red;
}

.reset {
    background-color: orange;
}